<p style="margin: 0;font-size: 16px;line-height: 20px">
  Op <%= l @invoice.activity.start_time, format: :date_long %> heeft u tijdens een borrel een aantal consumpties afgenomen. In verband
  daarmee breng ik de kosten van <%= number_to_currency(@invoice.amount, unit: '€') %> bij u in rekening. In de bijlage vindt u de specificatie.
  <br /><br />

  Wij verzoeken u dit bedrag binnen <b>14 dagen</b> te voldoen. Dit kan door het over te maken op rekeningnummer
  <b><%= Rails.application.config.x.company_iban %></b> ten name van <b><%= Rails.application.config.x.company_name %></b>, met vermelding van het
  factuurnummer <%= @invoice.human_id %>. U kunt ook gebruik maken van de blauwe knop om direct te betalen via iDeal.
  <br/><br/>

  Mocht u hier vragen over hebben kunt u antwoorden op deze e-mail, of zelf contact opnemen met
  <a href="mailto:<%= Rails.application.config.x.treasurer_email %>"><%= Rails.application.config.x.treasurer_email %></a>
</p>

<br />
