Er is een aanvraag gedaan tot het resetten van het wachtwoord voor het account verbonden met dit e-mailadres op het streepsysteem van uw vereniging. 
Als u niets hebt aangevraagd kunt u deze e-mail negeren.
<br/><br/>

Volg deze link om uw nieuwe wachtwoord in te stellen:<br/>
<a href="<%= @reset_password_url %>">
  <%= @reset_password_url %>
</a>
<br/><br/>

Uw gebruikersnaam is <b><%= @username %></b>.
<br/><br/>

De link is 1 dag geldig. Mocht de link verlopen zijn, dan kunt u een nieuwe link aanvragen:
<a href="<%= @forgot_password_url %>">
  <%= @forgot_password_url %>
</a>
<br/><br/>
