<%= content_tag :div, class: 'modal', id: 'new_invoice_modal', role: 'dialog', 'aria-labelledby' => 'new_invoice_modal_label', 'aria-hidden' => 'true', data: {activities: @activities_json} do %>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Factuur aanmaken
        </h5>
        <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button" />
      </div>
      <%= simple_form_for @invoice, wrapper: :horizontal_form do |f| %>
        <div class="modal-body d-grid gap-2" id="invoices_modal">
          <div class="row">
            <label class="col-3 col-form-label" for="activity_price_list">
              <abbr class="me-1" title="required">*</abbr>
              Activiteit

            </label>
            <template>
              <div class="col-9" style="position:relative">
                <input class="d-none" name="invoice[activity_id]" v-bind:value="selectedSuggestion.id"/>

                <input @focus="openSuggestions" @input="openSuggestions" aria-haspopup="true" autocomplete="off"
                       class="form-control" placeholder="Begin met typen..." required="true" type="text"
                       v-bind:aria-expanded="dropdownOpened" v-model="query"/>
                <div class="row">
                  <ul class="dropdown-menu ms-3" v-bind:class="{'show':dropdownOpened}">

                    <li class="dropdown-item" v-for="(suggestion, index) in suggestions" v-on:click.prevent="suggestionClicked(index)">
                      <a href="#">
                        {{ suggestion.title }} ({{ formatDate(suggestion.start_time) }})
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </template>
          </div>

          <div class="row">
            <label class="col-3 col-form-label" for="invoices_users">
              <abbr class="me-1" title="required">*</abbr>
              Gebruiker
            </label>
            <template>
              <div class="col-9" style="position:relative">
                <user-input name="invoice[user_id]"></user-input>
              </div>
            </template>
          </div>
          <hr>
          <h5>Gebruiker attributen vervangen</h5>
          <small>Deze attributen vervangen de standaard waarden vanuit het account. Leeglaten als standaard gebruikt
            moet worden.</small>
          <%= f.input :name_override, label: 'Naam' %>
          <%= f.input :email_override, label: 'Email' %>

          <hr>
          <h5>Extra factuur regels <i class="fa fa-plus ms-4" @click="addRow()"></i> </h5>
          <div id="invoice_rows">
            <div id="invoice_row" class="form-inline row m-2">
              <%= f.simple_fields_for :rows do |p| %>
                <%= p.input :name, label: false, placeholder: 'Naam', wrapper_html: { class: 'col-4' } %>
                <%= p.input :amount,  label: false, placeholder: 'Aantal', wrapper_html: { class: 'col-4' } %>
                <%= p.input :price, label: false, placeholder: 'Prijs', wrapper_html: { class: 'col-4' } %>
              <% end %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Factuur opslaan', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
