<% content_for :title, "Factuur #{@invoice.human_id} - SOFIA" %>


<div id="activity" class="container footer-padding">
  <div class="row justify-content-between">
    <div class="col-4">
      <%= image_tag '/images/flux_logo.png', class: 'col-12' %>
    </div>
    <div class="col-8 py-2">
      <h3>Stichting Sociëteit Flux</h3>
      <b>
        https://societeitflux.nl <br/>
        Oude Markt 24-3, 7511 GB Enschede
      </b>
      <table class="table table-sm">
        <tbody>
        <tr>
          <th scope="row">
            Tel
          </th>
          <td class="text-end">
            +316 38278379
          </td>
        </tr>
        <tr>
          <th scope="row">
            E-mail
          </th>
          <td class="text-end">
            penningmeester@societeitflux.nl
          </td>
        </tr>
        <tr>
          <th scope="row">
            IBAN
          </th>
          <td class="text-end">
            NL68INGB0008165420
          </td>
        </tr>
        <tr>
          <th scope="row">
            KvK
          </th>
          <td class="text-end">
            41 032 169
          </td>
        </tr>
        <tr>
          <th scope="row">
            Status
          </th>
          <td class="text-end">
            <% if @invoice.paid? %>
            Betaald
            <% else %>
            <span class="text-danger">Niet betaald</span>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>

      <% unless @invoice.paid? %>
        <%= link_to pay_invoice_url @invoice.token do %>
          <button class="col-3 offset-9 btn btn-primary">Betalen</button>
        <% end %>
      <% end %>

    </div>
  </div>
  <hr/>

  <div class="row justify-content-between">
    <div class="col-6">
      <h1>Factuur</h1>
      <p>
        <%= @invoice.name %><br />
        Datum: <%= l @invoice.created_at, format: :date_long_with_year %><br />
        Factuurnummer: <%= @invoice.human_id %>
      </p>

      <p>
        Geachte,<br/><br />
        Op <%= l @invoice.activity.start_time, format: :date_long %> heeft u tijdens een borrel een aantal consumpties afgenomen. In verband
        daarmee breng ik de kosten van <%= number_to_currency(@invoice.amount, unit: '€') %> bij u in rekening.
      </p>
    </div>
    <% if @invoice.rows.any? %>
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <td scope="col" class="col-10">Omschrijving</td>
            <td scope="col" class="col-2">Bedrag</td>
          </tr>
          </thead>
          <tbody>
          <% @invoice.rows.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= number_to_currency(item.total, unit: '€') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="col-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <td scope="col" class="col-8">Consumpties</td>
          <td scope="col" class="col-2">Aantal</td>
          <td scope="col" class="col-2">Bedrag</td>
        </tr>
        </thead>
        <tbody>
        <% @invoice.activity.count_per_product(user: @invoice.user).each do |item| %>
          <tr>
            <td><%= item[:name] %></td>
            <td><%= item[:amount] %></td>
            <td><%= number_to_currency(item[:price], unit: '€') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col" class="col-10">Totaal</td>
            <td scope="col" class="col-2"><%= number_to_currency(@invoice.amount, unit: '€') %></td>
          </tr>
        </thead>
      </table>
    </div>

    <div class="col-6">
      <p>
        Wij verzoeken u dit bedrag binnen 14 dagen over te maken op rekeningnummer <b>NL68 INGB
        0008 1654 20</b> ten name van <b>Stichting Sociëteit Flux</b> te Enschede, met vermelding van het
        factuurnummer dat u hierboven aan de brief kan vinden.<br /><br />


        Namens de Stichting Sociëteit Flux verblijf ik,<br/><br/>

        Hoogachtend,<br/>
        Mathijs de Boer<br/>
        h.t. Penningmeester der Stichting Sociëteit Flux<br/>
      </p>
    </div>
  </div>
</div>
