<% content_for :title, "Factuur #{@invoice.human_id} - #{Rails.application.config.x.site_name}" %>
<% show_flux_image = Rails.application.config.x.company_name == "Stichting Sociëteit Flux" %>

<div id="activity" class="container footer-padding">
  <div class="row justify-content-between">
    <% if show_flux_image %>
      <div class="col-sm-4">
          <%= image_tag '/images/flux_logo.png', class: 'col-4 offset-4 col-sm-12 offset-sm-0 col-lg-8 offset-lg-2' %>
      </div>
    <% end %>
    <div class="<%= if show_flux_image then 'col-sm-8' else 'col-12' end %> flex-grow-1 py-2">
      <h3><%= Rails.application.config.x.company_name %></h3>
      <b>
        <%= Rails.application.config.x.company_website %> <br/>
        <%= Rails.application.config.x.company_address %>
      </b>
      <table class="table table-sm">
        <tbody>
        <tr>
          <th scope="row">
            Tel
          </th>
          <td class="text-end">
            <%= Rails.application.config.x.treasurer_phone %>
          </td>
        </tr>
        <tr>
          <th scope="row">
            E-mail
          </th>
          <td class="text-end">
            <%= Rails.application.config.x.treasurer_email %>
          </td>
        </tr>
        <tr>
          <th scope="row">
            IBAN
          </th>
          <td class="text-end">
            <%= Rails.application.config.x.company_iban %>
          </td>
        </tr>
        <tr>
          <th scope="row">
            KvK
          </th>
          <td class="text-end">
            <%= Rails.application.config.x.company_kvk %>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Status
          </th>
          <td class="text-end">
            <% if @invoice.paid? %>
            Betaald
            <% else %>
            <span class="text-danger">Niet betaald</span>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>

      <% if !@invoice.paid? && Rails.application.config.x.mollie_api_key.present? %>
        <%= link_to pay_invoice_url @invoice.token do %>
          <button class="col-sm-3 offset-sm-9 btn btn-primary">Betalen</button>
        <% end %>
      <% end %>

    </div>
  </div>
  <hr/>

  <div class="row justify-content-between">
    <div class="col-6">
      <h1>Factuur</h1>
      <p>
        <%= @invoice.name %><br />
        Datum: <%= l @invoice.created_at, format: :date_long_with_year %><br />
        Factuurnummer: <%= @invoice.human_id %>
      </p>

      <p>
        Geachte,<br/><br />
        Op <%= l @invoice.activity.start_time, format: :date_long %> heeft u tijdens een borrel een aantal consumpties afgenomen. In verband
        daarmee breng ik de kosten van <%= number_to_currency(@invoice.amount, unit: '€') %> bij u in rekening.
      </p>
    </div>

    <% if @invoice.activity.count_per_product(user: @invoice.user).any? %>
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="col-8">Consumpties</th>
            <th scope="col" class="col-2">Aantal</th>
            <th scope="col" class="col-2">Totaalbedrag</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <% @invoice.activity.count_per_product(user: @invoice.user).each do |item| %>
            <tr>
              <td><%= item[:name] %></td>
              <td><%= item[:amount] %></td>
              <td><%= number_to_currency(item[:price], unit: '€') %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot class="table-group-divider">
            <tr>
              <th class="border-bottom-0">Totaal</th>
              <td class="border-bottom-0" />
              <th class="border-bottom-0"><%= number_to_currency(@invoice.activity.revenue_by_user(@invoice.user), unit: '€') %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>

    <% if @invoice.rows.any? %>
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="col-8"><% if @invoice.activity.count_per_product(user: @invoice.user).any? %>Overige kosten<% else %>Kosten<% end %></th>
            <th scope="col" class="col-2">Aantal</th>
            <th scope="col" class="col-2">Totaalbedrag</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <% @invoice.rows.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.amount %></td>
              <td><%= number_to_currency(item.total, unit: '€') %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot class="table-group-divider">
            <tr>
              <th class="border-bottom-0">Totaal</th>
              <td class="border-bottom-0" />
              <th class="border-bottom-0"><%= number_to_currency(@invoice.row_amount, unit: '€') %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>
    
    
    <div class="col-12">
      <% if @invoice.rows.any? && @invoice.activity.count_per_product(user: @invoice.user).any? %>
        <table class="table table-borderless">
          <thead class="table-group-divider">
            <tr>
              <th scope="col" class="col-10">Totaal</th>
              <th scope="col" class="col-2"><%= number_to_currency(@invoice.amount, unit: '€') %></th>
            </tr>
          </thead>
        </table>
        <% end %>
    </div>

    <div class="col-6">
      <p>
        Wij verzoeken u dit bedrag binnen 14 dagen over te maken op rekeningnummer <b><%= Rails.application.config.x.company_iban %></b>
        ten name van <b><%= Rails.application.config.x.company_name %></b>, met vermelding van het
        factuurnummer dat u hierboven aan de brief kan vinden.<br /><br />


        Namens de <%= Rails.application.config.x.company_name %> verblijf ik,<br/><br/>

        Hoogachtend,<br/>
        <%= Rails.application.config.x.treasurer_name %><br/>
        h.t. <%= Rails.application.config.x.treasurer_title.capitalize %> der <%= Rails.application.config.x.company_name %><br/>
      </p>
    </div>
  </div>
</div>
