<div aria-hidden="true" aria-labelledby="edit_user_model_label" class="modal fade" id="edit_user_modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <%= @new_user.persisted? ? 'Gebruiker wijzigen' : 'Nieuwe gebruiker' %>
        </h5>
        <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button" />
      </div>
      <%= simple_form_for @new_user, wrapper: :horizontal_form do |f| %>

        <div class="modal-body" id="activities_modal">
          <%= f.input :name, label: 'Naam', placeholder: 'Naam', required: true %>
          <%= f.input :email, label: 'E-mailadres', placeholder: 'E-mailadres' %>
          <% if @new_user.persisted? %>
            <div class="row">
              <div class="col-lg-3">
                Gedeactiveerd
              </div>
              <div class="col-lg-9">
                <%= f.check_box :deactivated %>
              </div>
            </div>
          <% end %>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Gebruiker opslaan', :data => {:disable_with => 'Bezig...'}, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
