<div aria-hidden="true" aria-labelledby="new_sofia_account_user_modal_label" class="modal fade" id="new_sofia_account_user_modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Nieuwe streepsysteem gebruiker
        </h5>
        <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button"/>
      </div>
      <%= simple_form_for @new_user, wrapper: :horizontal_form do |f| %>
        <%= f.hidden_field :provider, value: "sofia_account" %>
        <div class="modal-body" id="activities_modal">
          <%= f.input :name, label: 'Naam', placeholder: 'Naam', required: true %>
          <%= f.input :email, label: 'E-mailadres', placeholder: 'E-mailadres', required: true %>
          <%= f.input :sub_provider, label: 'Subprovider', placeholder: 'Subprovider', input_html: { style: 'text-transform: uppercase;', onkeyup: 'this.value = this.value.toUpperCase();' } %>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Gebruiker opslaan en activatie-mail versturen', :data => {:disable_with => 'Bezig...'}, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
