<% content_for :title, 'Gebruikers - SOFIA' %>
<% content_for :modal do %>
  <%= render 'modal' %>
<% end %>

<div class="container footer-padding">
  <h1 class="my-4">Gebruikers</h1>

  <%= content_tag :div, id: 'users-index', data: {manual_users: @manual_users_json, amber_users: @amber_users_json, inactive_users: @inactive_users_json} do %>
    <div class="d-flex justify-content-between align-items-center">
      <h3>Handmatig aangemaakte gebruikers</h3>
      <button class="btn btn-sm btn-primary" data-bs-target="#edit_user_modal" data-bs-toggle="modal" role="button">
        <%= fa_icon 'plus' %>
        <span class="d-none d-md-inline ms-1">
          Nieuwe gebruiker
        </span>
      </button>
    </div>
    <users-table :users="manual_users"></users-table>

    <div class="d-flex justify-content-between align-items-center">
      <h3>Amber gebruikers</h3>
      <span>
        <%= link_to refresh_user_list_users_path, class: 'btn btn-primary btn-sm me-1' do %>
          <%= fa_icon 'refresh' %>
          <span class="d-none d-md-inline ms-1">Synchroniseer gebruikers</span>
        <% end %>
      </span>
    </div>
    <users-table :users="amber_users"></users-table>

    <% if @inactive_users.any? %>
      <div class="d-flex justify-content-between align-items-center">
        <h3>Inactieve gebruikers</h3>
      </div>
      <users-table :users="inactive_users"></users-table>
    <%end %>
  <% end %>
</div>
