<% content_for :title, "Gebruiker #{@user.name}- SOFIA" %>
<% content_for :modal do %>
  <%= render 'mutation_modal' %>
  <%= render 'modal' %>
<% end %>



<%= content_tag :div, id: 'user-container', class: 'container footer-padding', data: {user: @user_json} do %>
  <div class="row justify-content-between">
    <div class="col-sm-12 col-md-6 py-2">

      <h1>
        <%= fa_icon 'user', class: 'mr-2' %>
        <%= @user.name %>

      </h1>
      <table class="table table-sm">
        <tbody>
        <% if @user.birthday %>
          <tr>
            <th scope="row">
              Geboortedatum
            </th>
            <td class="text-right"><%= l @user.birthday, format: :long %>
            </td>
          </tr>
        <% end; %>
        <% if @user.email %>
          <tr>
            <th scope="row">
              Email
            </th>
            <td class="text-right"><%= @user.email %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th scope="row">
            Aangemaakt op
          </th>
          <td class="text-right"><%= l @user.created_at, format: :long %>
          </td>
        </tr>
        <% if @user.deactivated %>
          <tr>
            <th scope="row">
              Gedeactiveerd
            </th>
            <td class="text-right">Ja
            </td>
          </tr>
        <% end %>
        <tr>
          <th scope="row">
            Accountbron
          </th>
          <% if @user.provider == 'banana_oauth2' %>
            <td class="text-right"><%= link_to 'C.S.V. Alpha', "#{Rails.application.config.x.banana_api_url}/users/#{@user.uid}" %>
            </td>
          <% else %>
            <td class="text-right"><%= @user.provider || 'Handmatig aangemaakt' %>

            </td>
          <% end %></tr>
        </tbody>
      </table>
      <% if current_user.treasurer? %>
        <button class="btn btn-sm btn-primary pull-right ml-2" data-target="#edit_user_modal" data-toggle="modal" role="button">
          <%= fa_icon 'pencil', class: 'mr-1' %>
          Gebruiker wijzigen
        </button>
        <button class="btn btn-sm btn-secondary pull-right" data-target="#new_mutation_modal" data-toggle="modal" role="button">
          <%= fa_icon 'plus', class: 'mr-1' %>
          Inleggen
        </button>
      <% end %>
      <h2>
        <span class="mr-1"><%= 'Saldo:' %></span>
        <span class="<%= @user.credit <= 0 ? 'text-danger' : '' %>">
          <%= number_to_currency(@user.credit, unit: '€') %>
        </span>
      </h2>
    </div>
    <div class="col-sm-12 col-md-6 py-2">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="infoTabs" role="tablist">
            <li class="nav-item">

              <a aria-controls="creditInfo" aria-selected="true" class="nav-link active" data-toggle="tab" href="#creditInfo" id="creditInfo-tab" role="tab">
                Inleggen
              </a></li>
            <li class="nav-item">

              <a aria-controls="roleInfo" aria-selected="false" class="nav-link" data-toggle="tab" href="#roleInfo" id="roleInfo-tab" role="tab">
                Rollen en rechten
              </a></li>
          </ul>
        </div>
        <div class="card-body p-1">
          <div class="tab-content p-2" id="infoTabsContent">
            <div aria-labelledby="creditInfo-tab" class="tab-pane show active" id="creditInfo" role="tabpanel">
              <%= content_tag :div, class: "alert mb-1 alert-#{@user.credit <= 0 ? 'danger' : 'info'}" do %>
                <h4 class="alert-heading">
                  <%= @user.credit <= 0 ? 'Je staat rood!' : 'Inleggen' %>

                </h4>
                <p class="card-text">
                  <%= 'Om je saldo aan te vullen kan je zelf geld overmaken of betalen met iDEAL. ' %>
                  <%= 'Dat kan naar NL68 INGB 0008 1654 20 t.n.v. Stichting Societeit Flux ' %>
                  <%= 'onder vermelding van je naam en \'Inleg Zatladder\'.' %>

                  <%= link_to add_payments_path do %>
                    <%= 'Klik hier om je saldo over te maken via iDEAL ' %>
                  <% end %>

                </p>


              <% end %></div>
            <div aria-labelledby="roleInfo-tab" class="tab-pane p-2" id="roleInfo" role="tabpanel">
              <b-button class="pull-right" size="sm" v-b-toggle.role-sync-description="">
                <%= fa_icon 'question-circle' %>

              </b-button>
              <h2 class="card-title">
                Rollen
              </h2>
              <b-collapse class="mt-2" id="role-sync-description">
                <p class="alert alert-light card-text">
                  Rollen worden gesynchroniseerd als de gebruiker zelf inlogt
                </p>
              </b-collapse>
              <p class="card-text d-none d-md-block">
                <%= 'Rechten zijn afhankelijk van de rollen die een gebruiker in het streepsysteem heeft. ' %>
                <%= 'Rollen worden bepaald aan de hand van de groepen waar een gebruiker lid van is in de Alpha website.' %>

              </p>
              <% if @user.roles_users.any? %>
                <ul class="mb-1">
                  <% @user.roles_users.each do |role| %>
                    <li><%= role.name %>
                    </li>
                  <% end %></ul>
              <% else %>
                <p><%= @user.name %> heeft geen speciale rollen binnen het streepsysteem

                </p>
              <% end %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <div class="col-sm-12">
    <div class="row card d-block">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="userTabs" role="tablist">
          <li class="nav-item">
            <a aria-controls="orders" aria-selected="true" class="nav-link active" data-toggle="tab" href="#orders" id="orders-tab" role="tab">
              Bestellingen
            </a>
          </li>
          <li class="nav-item">
            <a aria-controls="creditMutations" aria-selected="false" class="nav-link" data-toggle="tab" href="#creditMutations" id="creditMutations-tab" role="tab">
              Inleg en saldocorrecties
            </a></li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content p-2" id="userTabsContent">
          <div aria-labelledby="orders-tab" class="tab-pane show active" id="orders" role="tabpanel">
            <order-history :user="user">
            </order-history>
          </div>
          <div aria-labelledby="creditMutations-tab" class="tab-pane" id="creditMutations" role="tabpanel">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col"> #</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Beschrijving</th>
                  <th class="text-right" scope="col">Bedrag</th>
                </tr>
                </thead>
                <tbody>
                <% if @user.credit_mutations.empty? %>
                  <tr>
                    <td class="text-center" colspan="4">
                      <p class="my-1">
                        <em> <%= @user.name %>  heeft nog niet ingelegd en er zijn nog geen correcties
                        </em>
                      </p>
                    </td>
                  </tr>
                <% else %>
                  <% @user.credit_mutations.order(created_at: :desc).each do |mutation| %>
                    <tr>
                      <th scope="row"><%= mutation.id %></th>
                      <td><%= l(mutation.created_at, format: :with_year) %></td>
                      <td><%= mutation.description %></td>
                      <td class="text-right"><%= number_to_currency(mutation.amount, unit: '€') %></td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
