<% content_for :title, "Prijslijsten - #{Rails.application.config.x.site_name}" %>
<% content_for :head do %>
  <%= javascript_include_tag "price_lists", "data-turbo-track": "reload", defer: true %>
<% end %>
<% content_for :modal do %>
  <%= render 'modal' %>
<% end %>

<%= content_tag :div, id: "pricelists-container", class: "container footer-padding",
  data: {price_lists: @price_lists_json, products: @products_json} do %>
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h1>
        Prijslijsten
      </h1>
      <div class="d-flex justify-content-between mb-3 align-items-center flex-wrap">
        <span class="my-1">
          Hier worden alle prijslijsten en alle producten getoond.
        </span>
        <% if policy(PriceList).create? %>
          <button class="btn btn-sm btn-primary" data-bs-target="#editPriceListModal" data-bs-toggle="modal" role="button">
            <i class="fas fa-plus me-1"></i>
            Nieuwe prijslijst
          </button>
        <% end %>
      </div>
      <% if policy(PriceList).archive? %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="show-archived-check" v-model="showArchived">
          <label class="form-check-label" for="show-archived-check">
            Laat gearchiveerde prijslijsten zien
          </label>
        </div>
      <% end %>

      <table id='price-lists-table' class='price-lists-table table table-striped overflow-scroll mw-100 mx-auto d-block pe-2'>
        <thead class="table-header-rotated products">
        <tr>
          <th class="products-id" scope="col">ID</th>
          <th class="products-name" scope="col">Product</th>
          <th class="products-color" scope="col">Kleur</th>
          <th class="products-category" scope="col">Categorie</th>
          <th class="products-pricelist rotate" scope="col" v-for="priceList in filteredPriceLists">
            <div class="center-text" v-bind:title="priceList.name">
              <span>
                {{ priceList.name }}
              </span>
            </div>
          </th>
          <th class="products-actions" v-if="<%= policy(Product).update? %> && filteredPriceLists.length > 0">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr @keyup.enter="saveProduct(product)" @keyup.esc="cancelEditProduct(product)" class="products-product" v-for="product in products" v-on:dblclick="editProduct(product)">
          <template v-if="product.editing">
            <td class="products-cancel-edit" v-on:click="cancelEditProduct(product)">
              <span title="Cancel" v-if="product.id">
                <i class="fas fa-arrow-rotate-left fa-lg"></i>
              </span>
              <span title="Remove" v-else="">
                <i class="fas fa-xmark fa-lg"></i>
              </span>
            </td>
            <td class="products-new products-name">
              <div class="d-flex">
                <input class="form-control flex-grow-1" placeholder="Productnaam" type="text" v-model="product.name">
              </div>
            </td>
            <td class="products-new products-color">
              <div class="d-flex align-items-center flex-column">
                <div class="d-flex align-items-center w-100">
                  <input 
                    class="form-control flex-grow-1" 
                    placeholder="#f8f9fa" 
                    type="text" 
                    v-model="product.color" 
                    maxlength="7"
                    :class="{'is-invalid': getColorError(product.color)}">
                  <span v-if="product.color" class="color-preview ms-2" :style="{ backgroundColor: product.color }" :title="product.color"></span>
                </div>
                <small v-if="getColorError(product.color)" class="text-danger mt-1">
                  {{ getColorError(product.color) }}
                </small>
              </div>
            </td>
            <td class="products-new products-category">
              <div class="d-flex">
                <select class="form-select flex-grow-1" v-model="product.category">
                  <% Product.categories.each do |category| %>
                    <% if Rails.application.config.x.codes[category.first.to_sym] != nil %>
                      <%= content_tag :option, value: category.first do %>
                        <%= t category.first %>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </td>
            <td class="products-new-price" v-for="priceList in filteredPriceLists">
              <div class="d-flex">
                <input class="form-control flex-grow-1" placeholder="2.18" type="text" v-model="findPrice(product, priceList).price"/>
              </div>
            </td>
            <td class="products-save-new" v-on:click="saveProduct(product)">
            <span class="btn btn-primary">
              <i class="far fa-floppy-disk fa-lg"></i>
            </span></td>
          </template>
          <template v-else="">
            <th class="products-id" scope="row">{{ product.id }}</th>
            <td class="products-name">{{ product.name }}</td>
            <td class="products-color">
              <div class="d-flex align-items-center">
                <span v-if="product.color">{{ product.color }}</span>
                <span v-if="product.color" class="color-preview ms-2" :style="{ backgroundColor: product.color }" :title="product.color"></span>
              </div>
            </td>
            <td class="products-category">{{ product.t_category }}</td>
            <td class="product-price center-text" v-for="priceList in filteredPriceLists">
              <span class="text-nowrap" v-bind:title="product.name + ' in lijst ' + priceList.name">
                {{ productPriceToCurrency(findPrice(product, priceList)) }}
              </span>
            </td>
            <td class="products-new-edit-button" v-if="<%= policy(Product).update? %> && filteredPriceLists.length > 0">
              <button class="btn btn-sm btn-outline-secondary" v-on:click="editProduct(product)">
                <i class="fas fa-pencil"></i>
              </button>
            </td>
          </template>
        </tr>
        <tr>
          <td colspan="4">
            <div class="d-grid">
              <% if policy(Product).create? %>
                <button class="btn btn-secondary btn-sm products-button-new" v-on:click.prevent="newProduct">
                  Voeg een nieuw product toe
                  <i class="fas fa-square-plus ps-2"></i>
                </button>
              <% end %>
            </div>
          </td>
          <td class="products-archive-button center-text" v-for="priceList in filteredPriceLists">
            <button class="btn btn-sm btn-outline-secondary" v-if="<%= policy(PriceList).unarchive? %> && priceList.archived_at" v-on:click="unarchivePriceList(priceList)">
              <i class="fas fa-repeat"></i>
            </button>
            <button class="btn btn-sm btn-outline-secondary" v-else-if="<%= policy(PriceList).archive? %>" v-on:click="archivePriceList(priceList)">
              <i class="fas fa-archive"></i>
            </button>
            <div></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>