<% content_for :title, "Prijslijsten - #{Rails.application.config.x.site_name}" %>
<% content_for :modal do %>
  <%= render 'modal' %>
  <%= render 'edit_modal' %>
<% end %>

<%= content_tag :div, id: "pricelists-container", class: "container footer-padding",
  data: {price_lists: @price_lists_json, products: @products_json} do %>
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h1>
        Prijslijsten
      </h1>
      <div class="d-flex justify-content-between mb-3 align-items-center flex-wrap">
        <span class="my-1">
          Hier worden alle prijslijsten en alle producten getoond.
        </span>
        <% if policy(PriceList).create? %>
          <button class="btn btn-sm btn-primary" data-bs-target="#newPriceListModal" data-bs-toggle="modal" role="button">
            <%= fa_icon 'plus', class: 'me-1' %>
            Nieuwe prijslijst
          </button>
        <% end %>
      </div>
      <% if policy(PriceList).archive? %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="show-archived-check" v-model="showArchived">
          <label class="form-check-label" for="show-archived-check">
            Laat gearchieveerde prijslijsten zien 
          </label>
        </div>
      <% end %>
      
      <table id='price-lists-table' class='price-lists-table table table-striped overflow-scroll mw-100 mx-auto d-block pe-2'>
        <thead class="table-header-rotated products">
        <tr>
          <th class="products-id" scope="col">ID</th>
          <th class="products-name" scope="col">Product</th>
          <th class="products-category" scope="col">Categorie</th>
          <th class="products-pricelist rotate" scope="col" v-for="priceList in filteredPriceLists">
            <div class="center-text" v-bind:title="priceList.name">
              <span>
                {{ priceList.name }}
              </span>
            </div>
          </th>
          <th class="products-actions" v-if="<%= policy(Product).update? %> && filteredPriceLists.length > 0">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr @keyup.enter="saveProduct(product)" @keyup.esc="cancelEditProduct(product)" class="products-product" v-for="product in products" v-on:dblclick="editProduct(product)">
          <template v-if="product.editing">
            <td class="products-cancel-edit" v-on:click="cancelEditProduct(product)">
              <span title="Cancel" v-if="product.id">
                <%= fa_icon 'undo lg' %>
              </span>
              <span title="Remove" v-else="">
                <%= fa_icon 'times lg' %>
              </span>
            </td>
            <td class="products-new products-name">
              <div class="d-flex">
                <input class="form-control flex-grow-1" placeholder="Productnaam" type="text" v-model="product.name" :disabled="product.id"/>
              </div>
            </td>
            <td class="products-new products-category">
              <div class="d-flex">
                <select class="form-select flex-grow-1" v-model="product.category">
                  <% Product.categories.each do |category| %>
                    <% if Rails.application.config.x.codes[category.first.to_sym] != nil %>
                      <%= content_tag :option, value: category.first do %>
                        <%= t category.first %>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </td>
            <td class="products-new-price" v-for="priceList in filteredPriceLists">
              <div class="d-flex">
                <input class="form-control flex-grow-1" placeholder="2.18" type="text" v-model="findPrice(product, priceList).price"/>
              </div>
            </td>
            <td class="products-save-new" v-on:click="saveProduct(product)">
            <span class="btn btn-primary">
              <%= fa_icon 'floppy-o lg' %>
            </span></td>
          </template>
          <template v-else="">
            <th class="products-id" scope="row">{{ product.id }}</th>
            <td class="products-name">{{ product.name }}</td>
            <td class="products-category">{{ product.t_category }}</td>
            <td class="product-price center-text" v-for="priceList in filteredPriceLists">
              <span class="text-nowrap" v-bind:title="product.name + ' in lijst ' + priceList.name">
                {{ productPriceToCurrency(findPrice(product, priceList)) }}
              </span>
            </td>
            <td class="products-new-edit-button" v-if="<%= policy(Product).update? %> && filteredPriceLists.length > 0">
              <button class="btn btn-sm btn-outline-secondary" v-on:click="editProduct(product)">
                <%= fa_icon 'pencil' %>
              </button>
            </td>
          </template>
        </tr>
        <tr>
          <td colspan="3">
            <div class="d-grid">
              <% if policy(Product).create? %>
                <button class="btn btn-secondary btn-sm products-button-new" v-on:click.prevent="newProduct">
                  Voeg een nieuw product toe
                  <%= fa_icon 'plus-square', class: 'ps-2' %>
                </button>
              <% end %>
            </div>
          </td>
          <td v-for="priceList in filteredPriceLists">
            <div class="center-text d-flex">
              <div class="products-archive-button">
                <button class="btn btn-sm btn-outline-secondary" v-if="priceList.archived_at" v-on:click="unarchivePriceList(priceList)">
                  <%= fa_icon 'repeat' %>
                </button>
                <button class="btn btn-sm btn-outline-secondary" v-else="" v-on:click="archivePriceList(priceList)">
                  <%= fa_icon 'archive' %>
                </button>
              </div>
              <button class="btn btn-sm btn-outline-secondary ms-2" v-if="<%= policy(PriceList).update? %>" v-on:click="editPriceList(priceList)">
                  <%= fa_icon 'pencil' %>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
