<div aria-hidden="true" aria-labelledby="new_mutation_modal_label" class="modal" id="new_mutation_modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <%= @new_mutation.persisted? ? 'Inleg wijzigen' : 'Nieuwe inleg' %>
        </h5>
        <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button" />
      </div><%= simple_form_for @new_mutation, wrapper: :horizontal_form do |f| %>
        <div class="modal-body d-grid gap-2" id="mutations_modal">
          <%= f.input :description, label: 'Beschrijving', placeholder: 'Beschrijving' %>
          <%= f.input :amount, as: :float, label: 'Bedrag', placeholder: '2.00' %>

          <div class="row">
            <label class="col-3 col-form-label" for="mutations_users">
              <abbr class="me-1" title="required">*</abbr>
              Gebruiker
            </label>
            <template>
              <div class="col-9" style="position:relative">
                <user-input name="credit_mutation[user_id]"></user-input>
              </div>
            </template>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Annuleren
          </button>
          <%= f.button :submit, 'Inleg opslaan', :data => {:disable_with => 'Bezig...'}, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
