<p style="margin: 0;font-size: 16px;line-height: 20px">
  Op <%= l Time.zone.now, format: :long %> is uw saldo bijgewerkt met
  <%= number_to_currency(@credit_mutation_amount, unit: '€') %>.
  De reden hiervoor is: <%= @credit_mutation_description%>.
  <br />
  Mocht u hier vragen over hebben kunt u antwoorden op deze e-mail, of zelf contact opnemen met
  <a href="mailto:<%= config.x.treasurere_email %>"><%= config.x.treasurere_email %></a>
</p>

<br />
