<%= content_for :title, 'Zatladder - SOFIA' %>
<div class="container footer-padding">
  <div class="row p-3 d-flex justify-content-around">
    <div class="card col-12 col-md-6 pt-3 mx-2">
      <h1 class="card-title text-center">
        Zatladder
      </h1>

      <div class="row d-flex justify-content-center">
        <small class="col-4 col-md-2">Van</small>
        <small class="col-8 col-md-4 text-right"><%= l @from_date, format: '%d %B %Y' %></small>
      </div>
      <div class="row d-flex justify-content-center">
        <small class="col-4 col-md-2">Tot</small>
        <small class="col-8 col-md-4 text-right"><%= l @to_date, format: '%d %B %Y' %></small>
      </div>

      <table class="table table-striped mt-2">
        <thead>
        <tr>
          <th scope="col">Plaats</th>
          <th scope="col">Naam</th>
          <th scope="col">Bedrag</th>
        </tr>
        </thead>
        <tbody>
        <% @zatladder.each_with_index do |entry, index| -%>
          <tr>
            <th scope="row"> <%= index + 1 %></th>
            <td> <%= [:name] %></td>
            <td> <%= number_to_currency(entry[:spendings], unit: '€') %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
