<% content_for :title, "Saldo opwaarderen voor #{@user.name} - SOFIA" %>

<%= content_tag :div, id: 'payment-add', class: 'container footer-padding', data: {user_credit: @user.credit, payment_amount: @payment.amount} do %>
  <div class="container footer-padding">
    <div class="row py-4">
      <div class="col-12">
        <h1>
          Saldo opwaarderen voor <%= @user.name %>
        </h1>

        <%= simple_form_for(@payment, wrapper: :horizontal_form) do |f| %>
          <div class="col-12">
            <p>
              Voer hier het bedrag in dat je wilt inleggen. Hierna zal je worden doorgestuurd naar de betaalomgeving.
              Let op: Het bedrag moet gescheiden worden door een punt. Gebruik geen komma!
            </p>
            <%= f.input :amount, as: :float, input_html: {"v-model": "paymentAmount"}, required: true, label: 'Bedrag'  %>
          </div>

          <div class="col-md-4 col-sm-8 col-12 offset-md-8 offset-sm-4" v-if="amountValid()">
            <div class="alert alert-info">
              Saldo na inleg: {{ newCredit }}
            </div>
          </div>

          <div class="col-md-4 col-sm-8 col-12 offset-md-8 offset-sm-4" v-if="!amountValid()">
            <div class="alert alert-danger">
              U heeft een incorrect getal ingevoerd.
            </div>
          </div>

          <div class="col-12">
            <%= f.button :submit, 'Betalen met iDEAL', class: 'btn btn-primary float-end', 'v-bind:disabled': '!amountValid()' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
