<% content_for :title, 'Activiteiten - SOFIA' %>
<% content_for :modal do %>
  <%= render 'modal' %>
<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container footer-padding">
  <div class="row pt-4">
    <div class="col-sm-12 d-flex justify-content-between align-items-center">
      <h1>
        Activiteiten
      </h1>
      <button class="btn btn-sm btn-primary" data-target="#new_activity_modal" data-toggle="modal" role="button">
        <%= fa_icon 'plus' %>
        <span class="d-none d-md-inline ms-1">
          Nieuwe activiteit
        </span>
      </button>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Starttijd</th>
            <th scope="col">Endtijd</th>
            <th scope="col">Streeplijst</th>
            <th scope="col">Aangemaakt door</th>
          </tr>
          </thead>
          <tbody>
          <% @activities&.each do |activity| %>
            <tr>
              <td>
                <% if activity.locked? %>
                  <%= fa_icon 'lock' %>
                <% end %>
                <%= link_to activity.title, activity %>
              </td>
              <td>
                <%= l activity.start_time %>
              </td>
              <td>
                <%= l activity.end_time %>
              </td>
              <td>
                <%= activity.price_list.name %>
              </td>
              <td>
                <%= link_to activity.created_by.name, activity.created_by %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= paginate @activities %>
  </div>
</div>
