<% content_for :title, "Streepscherm #{@activity.title} - #{Rails.application.config.x.site_name}" %>
<% content_for :head do %>
  <%= javascript_include_tag "order_screen", "data-turbo-track": "reload", defer: true %>
<% end %>
<%= content_tag :div, id: 'order-screen', class: 'order-screen',
                data: {users: @users_json, product_prices: @product_prices_json, folders: @folders_json, activity: @activity_json, is_treasurer: @is_treasurer, price_list_id: @price_list_id, sumup_callback: sumup_callback_activity_url, sumup_key: @sumup_key, flashes: flash, site_name: Rails.application.config.x.site_short_name, deposit_button_enabled: Rails.application.config.x.deposit_button_enabled} do

%>

<% content_for :modal do %>
  <%= render 'credit_mutation_modal' %>
  <%= render 'cannot_order_modal' %>
  <% if @sumup_error_order %>
    <%= render 'sumup_error_order_modal', :locals => {sumup_error_order: @sumup_error_order} %>
  <% end %>
<% end %>

  <nav class="header">
    <ul class="header-nav">
      <li class="header-nav-item header-nav-home">
        <span @click="payWithCash ? payWithCash = false : (payWithPin ? payWithPin = false : selectedUser = null)"
              class="user-details-close" v-if="selectedUser || payWithCash || payWithPin">
          <i class="fas fa-chevron-left"></i>
          </span>
        <span v-else="">
          <%= link_to @activity do %>
            <i class="fas fa-home"></i>
          <% end %>
        </span>
      </li>
      <li class="header-nav-item">
        <span class="me-3">
          <%= @activity.title %>
        </span>
        <small class="fw-light d-inline-block">
          <%= l @activity.start_time, format: :date_only %>
        </small>
      </li>
    </ul>
    <div class="row pull-right g-0" style="flex-direction: row-reverse">
      <button type="button" class="btn btn-outline-secondary m-3 w-auto" @click="keepUserSelected = !keepUserSelected" >
        <span v-if="keepUserSelected">
          <i class="fas fa-square-check fa-lg me-1"></i>
        </span>
        <span v-if="!keepUserSelected">
          <i class="far fa-square fa-lg me-1"></i>
        </span>
        <span>
          Persoon onthouden
        </span>
      </button>
      <button v-if="isTreasurer && (selectedUser || payWithCash || payWithPin)" type="button" class="btn btn-outline-secondary m-3 w-auto" @click="toggleEditMode">
        <i class="fas" :class="editMode ? 'fa-check' : 'fa-pen'"></i>
        <span class="ms-1">
          {{ editMode ? 'Klaar' : 'Bewerken' }}
        </span>
      </button>
    </div>

    <flash-notification>
    </flash-notification>
  </nav>
  <div class="side-panel" :class="{ 'edit-mode-disabled': editMode }">
    <user-selection :pay-with-cash="payWithCash" :pay-with-pin="payWithPin" :selected-user="selectedUser"
                    :users="users" :deposit-button-enabled="depositButtonEnabled" v-on:selectcash="selectCash" v-on:selectpin="selectPin" v-on:updateuser="setUser($event)">
    </user-selection>
    <div class="orders" v-if="selectedUser || payWithCash || payWithPin">
      <h4 class="orders-header py-4">
        Bestelling
      </h4>
      <div class="orders-rows container">
        <template v-for="(orderRow, index) in orderRows">
          <div class="orders-rows-row row py-2">
            <div class="orders-rows-row-count col-3 px-1 px-md-2 px-lg-3">
              <i class="far fa-square-plus fa-lg orders-rows-row-count-icon" @click="!editMode && increaseRowAmount(orderRow)"></i>
              <div>
                <%= '{{orderRow.amount}}' %>
              </div>
              <i class="far fa-square-minus fa-lg orders-rows-row-count-icon" @click="!editMode && decreaseRowAmount(orderRow)"></i>
            </div>
            <div class="orders-rows-row-product-name col-6">
              {{orderRow.productPrice.product.name}}
            </div>
            <div class="orders-rows-row-product-price col-3 px-1 px-lg-3 d-flex justify-content-between">
              <span :title="doubleToCurrency(orderRow.productPrice.price) + ' p.s.'">
                {{doubleToCurrency(orderRow.productPrice.price * orderRow.amount)}}
              </span>
              <span @click="!editMode && dropOrderRow(index)" class="order-rows-row-remove ms-1">
                <i class="far fa-circle-xmark fa-lg"></i>
              </span>
            </div>
          </div>
        </template>

        <template v-if="!orderRows.length">
          <p class="text-center fw-light pt-3">
            <em>
              Geen producten geselecteerd
            </em>
          </p>
        </template>
      </div>
      <div class="orders-rows-total container">
        <div class="orders-rows-total-dividor mb-1">
        </div>
        <div class="row justify-content-end">
          <h4 class="col-3">
            Totaal:
          </h4>
          <h4 class="col-3 px-2">
            {{doubleToCurrency(orderTotal)}}
          </h4>
        </div>
      </div>
      <div class="orders-confirmation d-grid gap-3">
        <div class="btn-group btn-group-lg" role="group" v-if="payWithPin && <%= @sumup_enabled.to_s %> && isMobile">
          <button type="button" class="btn btn-success col-9"
             @click="confirmOrder(true)"
             :class="{ 'disabled': orderConfirmButtonDisabled || editMode }">
            <span class="text-uppercase">
              Sumup betaling
            </span>
          </button>
          <button type="button" class="btn btn-dark" :disabled="orderConfirmButtonDisabled || editMode"
                  @click="confirmOrder(false)">
            <i class="fas fa-money-bill"></i>
          </button>
        </div>

        <button @click="maybeConfirmOrder" class="btn btn-lg btn-success"
              :class="{ 'btn-warning' : showOrderWarning && !showCannotOrderWarning, 'btn-danger' : showCannotOrderWarning }"
              :disabled="orderConfirmButtonDisabled || editMode"
              v-if="!payWithPin || !<%= @sumup_enabled.to_s %> || !isMobile">
          <span class="text-uppercase">
            Bestelling plaatsen
          </span>
          <br/>
          <small v-if="showOrderWarning">
            <span v-if="showCannotOrderWarning" class="d-block">
              <span>
                <i class="fas fa-triangle-exclamation"></i>
              </span>
              <span>
                {{selectedUser.name}} staat <b>{{doubleToCurrency(-selectedUser.credit)}}</b> negatief en moet eerst inleggen!
              </span>
            </span>
            <span v-else-if="showInsufficientCreditWarning" class="d-block">
              <span>
                <i class="fas fa-triangle-exclamation"></i>
              </span>
              <span>
                {{selectedUser.name}} staat <b>{{doubleToCurrency(-selectedUser.credit)}}</b> negatief!
              </span>
            </span>
            <span v-if="showAgeWarning" class="d-block">
              <span>
                <i class="fas fa-triangle-exclamation"></i>
              </span>
              <span>
                {{selectedUser.name}} is minderjarig!
              </span>
            </span>
          </small>
        </button>
      </div>
    </div>
  </div>
  <div class="order-grid" v-if="!selectedUser && !payWithCash && !payWithPin">
    <activity-orders ref="activityOrders" :activity="activity" editable expand_first>
    </activity-orders>
  </div>
  <div class="product-grid" v-if="selectedUser || payWithCash || payWithPin">
    <!-- Back button when inside a folder -->
    <div v-if="currentFolder" 
         @click="exitFolder"
         class="product-grid-product folder-tile back-button-tile"
         :style="{ backgroundColor: currentFolder.color }">
      <span class="product-grid-product-name">
        Terug
      </span>
      <span class="folder-icon">
        <i class="fas fa-folder-open"></i>
        <i class="fas fa-arrow-left folder-back-arrow"></i>
      </span>
    </div>

    <!-- Folders on home screen -->
    <template v-if="!currentFolder">
      <div class="folder-container" v-if="sortedFolders.length > 0 || editMode">
        <!-- Add folder button (edit mode only) - positioned first -->
        <div v-if="editMode" 
             @click="openFolderModal(null)"
             class="product-grid-product folder-tile add-folder-tile">
          <span class="product-grid-product-name">
            Nieuwe map
          </span>
          <span class="folder-icon">
            <i class="fas fa-folder-plus"></i>
          </span>
        </div>

        <div v-for="folder in sortedFolders" 
             :key="'folder-' + folder.id"
             :data-folder-id="folder.id"
             @click="enterFolder(folder)"
             @dragover.prevent
             @drop="onDropOnFolder($event, folder)"
             class="product-grid-product folder-tile"
             :class="{ 'edit-mode': editMode }"
             :style="{ backgroundColor: folder.color }">
          <span class="folder-edit-btn" v-if="editMode" @click.stop="openFolderModal(folder)">
            <i class="fas fa-pen"></i>
          </span>
          <span class="product-grid-product-name">
            {{ folder.name }}
          </span>
          <span class="folder-icon">
            <i class="fas fa-folder"></i>
          </span>
        </div>
      </div>
    </template>

    <!-- Products -->
    <div v-for="productPrice in visibleProducts"
         :key="'product-' + productPrice.id"
         :data-product-price-id="productPrice.id"
         @click="!editMode && selectProduct(productPrice)"
         :draggable="editMode"
         @dragstart="onDragStartProduct($event, productPrice)"
         @dragend="onDragEnd"
         class="product-grid-product"
         :class="{ 
           'product-requires-age': (selectedUser && selectedUser.minor && productPrice.product.requires_age),
           'draggable': editMode
         }"
         :style="productPrice.product.color ? { backgroundColor: productPrice.product.color } : {}">
      <span class="product-grid-product-requires-age mb-2 fa-stack" v-if="selectedUser && selectedUser.minor && productPrice.product.requires_age">
        <i class="fa fa-circle fa-circle-lighter fa-stack-2x">
        </i>
        <span class="fa fa-stack-1x fa-inverse fa-plus18">
        </span>
      </span>
      <span class="drag-handle" v-if="editMode">
        <i class="fas fa-grip-vertical"></i>
      </span>
      <span class="product-grid-product-name">
        {{productPrice.product.name}}
      </span>
      <span class="product-grid-product-price">
        {{doubleToCurrency(productPrice.price)}}
      </span>
    </div>

    <!-- Drop zone for returning products to home (when in folder, edit mode) -->
    <div v-if="currentFolder && editMode" 
         @dragover.prevent
         @drop="onDropOnFolder($event, null)"
         class="product-grid-product folder-tile drop-home-tile">
      <span class="folder-icon">
        <i class="fas fa-home"></i>
      </span>
      <span class="product-grid-product-name">
        Naar hoofdscherm
      </span>
    </div>

    <em class="no-items" v-if="!visibleProducts.length && !sortedFolders.length">
      <span>
        Nog geen producten beschikbaar in de prijslijst  <%= @activity.price_list.name %> .
        Klik <%= link_to 'hier', price_lists_path %> om prijzen aan te maken.
      </span>
    </em>

    <!-- Folder Edit Modal -->
    <div class="folder-modal-backdrop" v-if="showFolderModal" @click="closeFolderModal">
      <div class="folder-modal" @click.stop>
        <div class="folder-modal-header">
          <h5>{{ editingFolder ? 'Map bewerken' : 'Nieuwe map' }}</h5>
          <button type="button" class="btn-close" @click="closeFolderModal"></button>
        </div>
        <div class="folder-modal-body">
          <div class="mb-3">
            <label class="form-label">Naam</label>
            <input type="text" class="form-control" v-model="folderForm.name" placeholder="Mapnaam">
          </div>
          <div class="mb-3">
            <label class="form-label">Kleur (Hex)</label>
            <input type="text" class="form-control" v-model="folderForm.color" placeholder="#6c757d" pattern="^#[0-9A-Fa-f]{6}$">
            <small class="form-text text-muted">Gebruik een hex kleurcode (bijv. #6c757d)</small>
          </div>
        </div>
        <div class="folder-modal-footer">
          <button v-if="editingFolder" type="button" class="btn btn-danger me-auto" @click="deleteFolder(editingFolder)">
            <i class="fas fa-trash"></i> Verwijderen
          </button>
          <button type="button" class="btn btn-secondary" @click="closeFolderModal">Annuleren</button>
          <button type="button" class="btn btn-primary" @click="saveFolder">Opslaan</button>
        </div>
      </div>
    </div>
  </div>
<% end %>