<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>  </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= yield(:head) %>

    <% if Rails.application.config.x.sentry_dsn %>
      <script
        src="https://browser.sentry-cdn.com/10.35.0/bundle.min.js"
        integrity="sha384-buME2qYh5kj56Wr8/JmIHGVMX0L+0H7/jl+36G5J2BTcY5k33fcfFOvMTOT0IZeO"
        crossorigin="anonymous"
      ></script>

      <script>
        Sentry.init({
          dsn: '<%= Rails.application.config.x.sentry_dsn %>',
          environment: '<%= Rails.env %>',
          release: '<%= ENV['BUILD_HASH'] %>'
        });
        Sentry.setUser({ id: <%= current_user&.id.to_json %> });
      </script>
    <% end %>

  </head>
  <body>
    <%= yield(:modal) %>

    <% if @show_navigationbar %>
      <%= render partial: 'partials/navigation_bar' %>
    <% end %>

    <% if @show_extras %>
      <%= render partial: 'partials/flash' %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if @show_extras %>
      <%= render partial: 'partials/footer' %>
    <% end %>
  </body>
</html>
