<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>  </title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'activities', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'price_lists', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'payment_add', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'credit_mutations', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'user', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'order_screen', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'users', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'activity', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'invoices', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "activities_modal", "data-turbolinks-track": "reload" %>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>

    <% if Rails.application.config.x.sentry_dsn %>
      <script
        src="https://browser.sentry-cdn.com/8.55.0/bundle.min.js"
        integrity="sha384-BlRl+vkcjdIA/AKRb8zWtiqlVVXepUsSv0+vho7ZMUTsNudEyQjGUKo9W86Hc1EC"
        crossorigin="anonymous"
      ></script>

      <script>
        Sentry.init({
          dsn: '<%= Rails.application.config.x.sentry_dsn %>',
          environment: '<%= Rails.env %>',
          release: '<%= ENV['BUILD_HASH'] %>'
        });

        Sentry.configureScope(scope => {
          scope.setUser({ id: <%= current_user&.id || 'null' %> });
        });
      </script>
    <% end %>



    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= yield(:modal) %>

    <% if @show_navigationbar %>
      <%= render partial: 'partials/navigation_bar' %>
    <% end %>

    <% if @show_extras %>
      <%= render partial: 'partials/flash' %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if @show_extras %>
      <%= render partial: 'partials/footer' %>
    <% end %>
  </body>
</html>
