<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>  </title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'activities', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'price_lists', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'credit_mutations', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'user', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'order_screen', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'users', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'activity', 'data-turbolinks-track': 'reload' %>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" rel="stylesheet"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= yield(:modal) %>

    <% if @show_navigationbar %>
      <%= render partial: 'partials/navigation_bar' %>
    <% end %>

    <% if @show_extras %>
      <%= render partial: 'partials/flash' %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if @show_extras %>
      <%= render partial: 'partials/footer' %>
    <% end %>
  </body>
</html>
